@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles//partials/variables" as *;

.video {
  background-color: black;
  &__player {
    width: 100%;
    max-height: 25rem;
    @include tablet {
      width: 100%;
      max-height: 30rem;
    }
    @include desktop {
      width: 100%;
      max-height: 35vw;
    }
  }
}
