@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles//partials/variables" as *;

.description {
  padding-left: 3%;
  padding-right: 3%;
  @include desktop {
    padding-left: 7%;
  }

  &__title {
    color: $BrainFlix-Black;
    margin-bottom: 2%;
    padding-bottom: 3%;
    @include font(6vw, 8vw, 600);
    border-bottom: 3px solid $mercury;
    @include tablet {
      @include font(2.75rem, 4rem, 600);
      border-bottom: none;
    }
    @include desktop {
      margin-bottom: 5%;
      @include font(2.65vw, 3vw, 600);
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $mercury;
    @include tablet {
      align-items: flex-end;
      height: 1rem;
    }
    @include desktop {
      width: 112%;
    }
  }

  &__views-count,
  &__likes-count,
  &__date {
    @include font(3vw, 1rem, 400);
    color: $silver;
    @include tablet {
      @include font(1.25rem, 1rem, 400);
    }
    @include desktop {
      @include font(1.1vw, 1rem, 400);
    }
  }

  &__left {
    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__channel {
    margin-top: 22%;
    @include font(3vw, 1rem, 500);
    @include tablet {
      @include font(1.25rem, 1rem, 500);
      padding-right: 3rem;
    }
    @include desktop {
      @include font(1.25vw, 1rem, 500);
    }
  }

  &__date {
    margin-top: 25%;
    @include desktop {
      @include font(1.1vw, 1rem, 400);
    }
  }

  &__right {
    margin-right: 10%;
    @include tablet {
      display: flex;
      align-items: center;
      margin-right: 2%;
    }
    @include desktop {
      margin-right: 5%;
    }
  }

  &__views {
    display: flex;
    align-items: center;
  }

  &__views-count {
    padding-left: 10%;
  }

  &__views-img {
    width: 6.5vw;
    @include tablet {
      width: 4.5vw;
    }
    @include desktop {
      width: 2vw;
    }
  }

  &__likes {
    display: flex;
    align-items: center;
    padding-left: 3%;
  }

  &__likes-img {
    width: 3.5vw;
    @include tablet {
      padding-left: 10%;
      width: 4vw;
    }
    @include desktop {
      width: 2vw;
    }
  }

  &__likes-count {
    margin: 0;
    padding-left: 10%;
  }

  &__copy {
    @include font(4vw, 6vw, 400);
    @include tablet {
      margin-top: 4%;
      @include font(1rem, 1.75rem, 400);
    }
    @include desktop {
      width: 110%;
      @include font(1vw, 1.5vw, 400);
    }
  }
}
